* {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #31176c;
    padding: 20px;
}

h1 {
    font-weight: bold;
    color: white;
}

h2 {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #177b1e;
    font-weight: bold;
    padding: 5px;
}

a:hover {
    color: white;
    background-color: #31176c;
}