* {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0;
    margin: 0 auto;
}

.background-image {
    background-image: url("../images/Frittata_Img.jpg");
    background-color: grey;
    height: 450px;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    width: 100%
}

.overlay-text {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 65px;
    font-weight: 400;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 400;

}

.cook {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}

hr {
    margin-bottom: 10px;
}

.headerLine {
    width: 50%;
}

main {
    display: flex;
    width: 1200px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;
}

.content {
    flex: 2;
    padding: 10px 40px 10px 20px;
}

.blurbSection {
    display: flex;
    margin-bottom: 25px;
}

.blurb {
    font-weight: 200;
    font-size: 22px;
    margin: 0px 20px 20px 0px;
    font-style: italic;
    width: 70%
}

figure {
    width: 30%;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 15px;
}

.sidebar {
    flex: 1;
    padding: 10px 20px 10px 40px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ingredients {
    padding: 0px 20px 0px 20px;
}


ul { 
    padding:none;
    list-style-type: square;
}

li {
    padding: 2px 0px 10px 0px;
}

.tagline {
    display: flex;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 60px;
}

.tagline h3 {
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
}

footer {
    display: flex;
    background-color: #212121;
    font-size: 16px;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.leftFooter {
    flex: 1;
}

.leftFooter p {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.centerFooter {
    flex: 1;
}

.recipeLink {
    text-decoration: none;
    color: white;
}

.recipeLink:hover {
    text-decoration: none;
    color: #C1932B;
}

.rightFooter {
    flex: 1;
}

@media only screen and (max-width: 1200px) {

    main {
        display: block;
    }

    .content {
        width: 100%;
        box-sizing: border-box;
    }

    .sidebar {
        width: 100%;
    }

    .ingredients {
        padding: 0px;
    }

    ol {
        margin-bottom: 25px;
    }

    footer {
        display: block;
    }

    .leftFooter, .centerFooter ,.rightFooter{
        margin-bottom : 25px;
    }
}
